body {
    background-color: #ffffff;
}

.main-header, .header, .nav {
    background-color: #ffffff;
    color: #4aaaa5;
}
.main-header {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header {
    
}

.nav {

}